---
---

@import "{{ site.theme }}";

h1 {
  color: #3e4650;
  text-decoration: none;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Space Mono', monospace;
}

h2 {
  color: #3e4650;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Space Mono', monospace;
}

h3 {
  color: #3e4650;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Space Mono', monospace;
}

a {
  color: #008080;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16;
}

a:hover {
  color: #ffa500;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16;
}

li {
  color: #3e4650;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16;
}

p {
  color: #3e4650;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16;
}

b {
  color: #404040;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16;
}

.header {
  max-width: 650px;
  padding-top: 40px;

}

.section img {
  float: left;
}

.header img {
  float: left;
  width: 30%;
  background: #555;
  padding-bottom: 2%;
  padding-right: 2%;
  background: none;
}

.header h1 {
  position: relative;
  text-align: center;
}

.header  p {
  color: #3e4650;
  position: relative;
  font-weight: 400;
  font-family: 'Space Mono', monospace;
  font-size: 14;
  text-align: center;
}

.header  a {
  color: #3e4650;
  font-weight: 400;
  font-family: 'Space Mono', monospace;
  font-size: 14;
  text-decoration: underline;
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 0;
}

.header  b {
  color: #3e4650;
  font-weight: 600;
  font-family: 'Space Mono', monospace;
  font-size: 14;
  float: left;
  padding-top:15px;
  width:375px;
  text-align: center;
  left: 10px;
}

td {
    border: none;
}

.wrapper {
  max-width: 675px;
}
.content {
	padding-left: 0px;
	padding-top: 75px;
	padding-bottom: 0px;
	max-width: 675px;
}

.navbar {
  padding-top: 15px;
	position:relative;
	text-align: center;
}

.navbar a {
  text-decoration: none;
  color: #000;
  background: #e6e4e4;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 2px;
  border: #3e4650;
}

.navbar a.active {
  text-decoration: none;
  color: #000;
  background: #c0c0c0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 2px;
  border-color: #3e4650;
}
