<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); $(this).parents('navbar').addClass('active');
            }
        });
    });
</script>

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">

    <style type="text/css">
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144023591-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144023591-1');
    </script>
  </head>
  <body style="background-image:url('/assets/img/neurons3.png')">
    <div class="wrapper">
      <div class="header">
        <img src="{{site.logo}}" alt="Ulyana Piterbarg"/>
        <h1> Ulyana Piterbarg </h1>
        <p>
          up2021 [at] cims.nyu.edu
        </p>
        <p> 
          [<a href=https://bsky.app/profile/upiter.bsky.social>Bluesky</a>]  [<a href=https://scholar.google.com/citations?user=I5lFCusAAAAJ&hl=en>Google Scholar</a>]
          [<a href=https://github.com/upiterbarg>Github</a>]
          [<a href=assets/docs/CV.pdf>CV</a>]
        </p>
        <div class="navbar">
          <a href="/"> About </a> <a href="/projects"> Projects </a> <a href="/teaching"> Teaching </a> <a class="active" href="/reads"> Reads </a>
        </div>
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>